<div class="container" style="margin-top: 70px;">
  <h2> Order List</h2>
  <button class="btn btn-primary" (click)="add()"> Create Order</button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; let i=index;">
        <td class="hidden">{{i+1}}</td>
        <td>{{order.customer}}</td>
        <td>{{order.description}}</td>
        <td>{{order.status}}</td>
        <td>
          <button class="btn btn-primary" (click)="getOrderDetail(order)" > Details</button>
          <button class="btn btn-danger" (click)="cancelOrder(order)" style="margin-left: 20px;"> Cancel</button></td>
      </tr>
    </tbody>
  </table>
</div>